.border1{
    background: rgb(42,72,223);
    background: linear-gradient(90deg, rgba(42,72,223,1) 4%, rgba(129,57,184,0.7819502801120448) 100%);
    border-radius: 25px;
    color: white;
    text-align: center;position: relative;
    top: 0;
    transition: top ease 0.3s;
    text-decoration: none;
}
.border1:hover{
    top: -5px;
    transition: all 0.15s cubic-bezier(0.29, 0.73, 0.74, 1.02);
    box-shadow: 0 4px 8px 0 rgb(52, 9, 133), 0 6px 20px 0 rgba(28, 6, 109, 0.19);
}
.dash{
    margin: 15px ;
}
.borderbtn{
    margin: 5px;
    background: rgb(42,72,223);
    background: linear-gradient(90deg, rgba(42,72,223,1) 4%, rgba(129,57,184,0.7819502801120448) 100%);
    border-radius: 25px;
    color: white;
    text-align: center;position: relative;
    top: 0;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgb(52, 9, 133), 0 6px 20px 0 rgba(28, 6, 109, 0.19);

}
.banner{
    width: auto;
}